* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #83c9f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 25px
}

.nav {
    display: flex;
    margin: -5px;

}

.index-href {
    font-family: 'B612', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.nav ul {
    text-decoration: none;
    list-style-type: none;
}

.nav ul {
    display: flex;
    justify-content: end;
    margin-left: auto;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin: 10px;
    color: #fff;

}

a:hover {
    color: #ffaf00
}

a {
    text-decoration: none;
    color: #000;
}

.abrir-menu {
    display: none;
}

.cerrar-menu {
    display: none;
}

/* nav cursos */

.list-item {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#subMenu-cursos {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.cursos-ul .list-inside {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav a:hover,
.list-item:hover {
    background-color: #555;
    color: white;
    border-radius: 5px;
}

.cursos-ul .list-inside {
    background-color: #686767;
    color: black;
}

.list-item:hover #subMenu-cursos {
    display: block;
    padding-top: 15px;
}

/* weather carousel */


.pic-ctn {
    width: 100vw;
    height: 200px;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 100vw;
    height: 250px;
    margin-top: 15vh;
    overflow: hidden;
}

.weather-img {
    width: 70%;
}

.pic-ctn>div {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

.weather-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15%;
    height: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.weather-box:nth-child(2) {
    animation-delay: 2s;
}

.weather-box:nth-child(3) {
    animation-delay: 4s;
}

.weather-box:nth-child(4) {
    animation-delay: 6s;
}

.weather-box:nth-child(5) {
    animation-delay: 8s;
}

.weather-box:nth-child(6) {
    animation-delay: 10s;
}

.initial {
    color: #f9f9f9;
}

.sub-title {
    top: 20px;
    text-align: center;
}

.img_container {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
}

.img_index {
    background-image: url(../assets/img/world2.jpg);
}

.img_nosotros {
    background-image: url(../assets/img/school.jpg);

}

.caption_container {
    position: absolute;
    width: 90%;
    height: 500px;
    margin-left: 5%;
    margin-top: 166px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.caption {
    font-size: 80px;
    padding-bottom: 90px;
}

.description {
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

.card {
    transition: all .5s ease-in-out;
    border-radius: 0.6rem;
}

.card:hover {
    transform: scale(1.1);
}



.container {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 100%;

}

.container .card {
    position: relative;
    width: 300px;
    height: 420px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, .2);
    background-color: #fff;
    margin: 20px;
    overflow: hidden;
    transition: .5s;
}

.container .card:hover {
    transform: scale(1.1);
    opacity: 1;
}

.container .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}


.container .card .content {
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;
    padding: 20px;
}

.container .card .content p {
    color: #670;
    text-align: justify;
    font-size: 15px;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 20px;
    text-decoration: none;

}

.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a {
    background-color: #ffaf00;
}

.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a {
    background-color: #ffaf00;
}

.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a {
    background-color: #ffaf00;
}

.container .card:nth-child(4) .circle,
.container .card:nth-child(4) .content a {
    background-color: #ffaf00;
}

.container .card:nth-child(5) .circle,
.container .card:nth-child(5) .content a {
    background-color: #ffaf00;
}

.container .card:nth-child(6) .circle,
.container .card:nth-child(6) .content a {
    background-color: #ffaf00;
}

.card_title {
    border-top: ridge;
    padding-top: 10px;
    margin-bottom: 0.5rem;
}

.card_list {
    display: inline-block;
    list-style: none;
    width: 80%;
}

.card_list_item {
    padding-left: 1.2rem;
    margin: 7px 0;
}

.langcen a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    margin-top: -10px;
    text-align: left;

}

/* cursos */

.cursos-subtitle {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
}

.description-cursos {
    text-align: center;
    font-size: 1.2rem;
}





footer {
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color: #f9f9f9;
}

.copyright-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo {
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info,
.menu-item-footer {
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover {
    opacity: 1;
}

.menu-title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: .8rem;
    margin-bottom: .5rem;
}


.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link {
    height: 100%;
    width: 30px;
    background-image: url(../assets/img/Facebook.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover {
    opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
    background-image: url(../assets/img/Twitter.png);
    width: 59px;
}

footer .social-link:nth-of-type(3) {
    background-image: url(../assets/img/Linkedin.png);
}


/* Sección contacto */

.contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #686767;
    padding-left: 30px;
}


input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffaf00;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffaf00;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


#enviar {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ffaf00;
    border-color: #ffaf00;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}


#enviar p {
    color: #fff;
}


span {
    color: #ffaf00;
}


.aviso {
    font-size: 15px;
    color: #0e0e0e;
    margin-bottom: 10px;
}


.form-title {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: #ffaf00;
}


.form-subtitle {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}


p {
    font-size: 14px;
    color: #0e0e0e;
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.formulario__mensaje {
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.nosotros_container {
    font-family: 'B612', sans-serif;
}

.map_container {
    width: 100%;
    border: 2px ridge black;
    display: flex;
    flex-direction: column;
}

.question {
    display: block;
    color: #ffaf00;
    margin-top: 10px;
    margin-left: 5%;
}

.presentation {
    background-color: #3a5a40;
}

.presentation_text {
    margin: 20px auto;
    font-size: large;
    max-width: 60%;
    text-align: center;
}

.schedule {
    background-color: #606c38;
}

.location {
    background-color: #283618;
}

.timetable {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 20px auto;
    padding: 50px;
    list-style: none;
    border-radius: 5px;
    background-color: #a3b18a;
}

.time {
    padding: 5px;
}

.map_position {
    margin: 20px auto;
}

@media (max-width: 768px) {

    .caption {
        font-size: 75px;
        padding-bottom: 100px;
    }

    .description {
        font-size: 25px;
    }

    .caption {
        padding-bottom: 50px;
    }

    .caption_container {
        margin-top: 50px;
    }

    /* header mobile */

    .nav {
        opacity: 0;
        visibility: hidden;
    }

    .abrir-menu,
    .cerrar-menu,
    .button-cursos {
        display: block;
        margin-left: auto;
        border: 0;
        font-size: 30px;
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 600vmax rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .nav.visible {
        visibility: visible;
        opacity: 1;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li {
        margin-bottom: 15px;
    }

    .nav ul {
        align-items: end;
    }

    .container .card {
        height: 470px;
        margin: 0;
        margin-bottom: 50px;
    }

    /* nav cursos */
    #subMenu-cursos {
        position: inherit;
    }

    .nav a:hover,
    .list-item:hover {
        background-color: transparent;
    }

    .list-item {
        padding: 0;
    }

    .nav-link {
        text-align: end;
    }

    .cursos-ul .list-inside {
        text-align: end;
        padding: 5px 0;
        background-color: transparent;
    }

    .cursos-subtitle {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .description-cursos {
        padding: 0 20px 0 20px;
    }

    /* weather carousel */

    .weather-box {
        width: 55%;
    }

    .weather-img {
        width: 60%;
    }




    /* footer mobile */
    .footer-container {
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container {
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2a2a2a;
        justify-content: center;
        align-items: center;
    }

    .footer-menus {
        width: 100%;
    }

    .footer-menus .footer-content-container:nth-of-type(1) {
        width: 45%;
    }

    .footer-menus .footer-content-container:nth-of-type(2) {
        width: 45%;
    }

    /* Sección contacto */

    .contact_form {
        width: 95%;
    }

    .form-subtitle {
        font-size: 18px;
    }

    input {
        width: 95%;
    }


    textarea {
        width: 95%;
    }


    label {
        display: block;
        float: center;
    }


    #enviar {
        width: 95%;
    }

    .formulario__mensaje {
        line-height: 20px;
    }
}