* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* body {
    background-color: #f9f9f9;
} */

/* main {
    background-color: #0f2e24;
} */

header {
    background-color: #686767;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 25px
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    /*Esto centra la navbar con el nombre*/
}

.index-href {
    text-decoration: none;
}

header h1 {
    font-family: 'B612', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
}

header nav ul {
    text-decoration: none;
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: end;
    margin-left: auto;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    color: #fff;

}

a:hover {
    color: #ffaf00
}


.initial {
    color: #f9f9f9;
}

.sub-title {
    top: 20px;
    text-align: center;
}

.img_container {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
}

.img_index {
    background-image: url(../assets/img/world2.jpg);
}

.img_nosotros {
    background-image: url(../assets/img/school.jpg);

}

.caption_container {
    position: absolute;
    width: 90%;
    height: 500px;
    margin-left: 5%;
    margin-top: 166px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.caption {
    font-size: 80px;
    padding-bottom: 90px;
}

.description {
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

.card {
    transition: all .5s ease-in-out;
    border-radius: 0.6rem;
    border-style: ridge;
    border-color: black;
}

.card:hover {
    transform: scale(1.1);
}

.uk {
    background-image: url("../assets/img/uk_flag.png");
}

.fin {
    background-image: url("../assets/img/fin_flag.png");
}

.ita {
    background-image: url("../assets/img/ita_flag.png");
} 

.container {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 100%;

}

.container .card {
    position: relative;
    width: 300px;
    height: 420px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, .2);
    background-color: #fff;
    margin: 20px;
    overflow: hidden;
    transition: .5s;
}

.container .card:hover {
    transform: scale(1.1);
    opacity: 1;
}

.container .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}


.container .card .content {
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;
    padding: 20px;
}

.container .card .content p {
    color: #670;
    text-align: justify;
    font-size: 15px;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 20px;
    text-decoration: none;

}

.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a {
    background-color: #ffaf00;
}

.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a {
    background-color: #ffaf00;
}

.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a {
    background-color: #ffaf00;
}
.container .card:nth-child(4) .circle,
.container .card:nth-child(4) .content a {
    background-color: #ffaf00;
}
.container .card:nth-child(5) .circle,
.container .card:nth-child(5) .content a {
    background-color: #ffaf00;
}
.container .card:nth-child(6) .circle,
.container .card:nth-child(6) .content a {
    background-color: #ffaf00;
}

.card_title {
    border-top: ridge;
    padding-top: 10px;
    margin-bottom: 0.5rem;
}

.card_list {
    display: inline-block;
    list-style: none;
    width: 80%;
}

.card_list_item {
    padding-left: 1.2rem;
    margin: 7px 0;
}
.langcen a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    margin-top: -10px;
    text-align: left;

}

.header_cursos{
    background-color: #70afe2;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    justify-content: right;
}

header nav ul {
    text-decoration: none;
    list-style-type: none;
    margin-top: -10px;
}

ul {
    display: flex;
    justify-content: end;
    margin-left: auto;

}

header nav ul li a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
    color: #fff;
    transition: all .3s ease;
}
header nav ul li a:hover{
    background-color: rgb(166, 226, 241);
    color: #fff;
    border-radius: 5px;

}
#cursos{
    background-color:#d0def3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#main_cursos h2{
    display: inline-block;
    text-align: center;
    background-color: #83c9f7;
    border-radius: 25px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
    margin-bottom: 35px;    
}

.article_cursos{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;

    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.article_cursos p{
    font-size: 1rem;
}
.article_cursos p a{
    text-decoration: none;
    color: #000;
}
.article_cursos p a:hover{
    font-size: 1.2rem;
    transition: .5s;
}

/*Aca se trabaja para fines*/

#fines{
    background-color: #f9f9f9;
}
.section_fines{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    border: 2px solid black;
}
.article_fines h2{
    justify-self: center;
    align-self: center;
}

#fines {
    background-color: #f9f9f9;
}

.section_fines {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    justify-content: center;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/img/fin_flag.png);
    background-size: cover;
    border-radius: 90%;

}

/*Aca se trabaja Italiano*/

#italiano {
    background-color: #f9f9f9;
}

.section_italiano {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    justify-content: center;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/img/ita_flag.png);
    background-size: cover;
    border-radius: 90%;
}

/*Aca se trabaja portugues*/

#portugues {
    background-color: #f9f9f9;
}

.section_portugues {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    justify-content: center;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-image: url(../assets/img/Flag_of_Brazil.svg.webp);


    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    background-image: url(../assets/img/uk_flag.png);
    background-size: cover;
    border-radius: 90%;
}

footer {
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color: #f9f9f9;
}

.copyright-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo {
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info,
.menu-item-footer {
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover {
    opacity: 1;
}

.menu-title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: .8rem;
    margin-bottom: .5rem;
}


.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link {
    height: 100%;
    width: 30px;
    background-image: url(../assets/img/Facebook.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover {
    opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
    background-image: url(../assets/img/Twitter.png);
    width: 59px;
}

footer .social-link:nth-of-type(3) {
    background-image: url(../assets/img/Linkedin.png);
}


/* Sección contacto */

.contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #686767;
    padding-left: 30px;
}


input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffaf00;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffaf00;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ffaf00;
    border-color: #ffaf00;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}


button p {
    color: #fff;
}


span {
    color: #ffaf00;
}


.aviso {
    font-size: 15px;
    color: #0e0e0e;
    margin-bottom: 10px;
}


.form-title {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: #ffaf00;
}


.form-subtitle {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}


p {
    font-size: 14px;
    color: #0e0e0e;
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.formulario__mensaje {
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.nosotros_container{
    font-family: 'B612', sans-serif;

.map_container {
    width: 100%;
    border: 2px ridge black;
    display: flex;
    flex-direction: column;
}

.question{
    display: block;
    color: #ffaf00;
    margin-top: 10px;
    margin-left: 5%;
}

.presentation{
    background-color: #3a5a40;
}

.presentation_text{
    margin: 20px auto;
    font-size: large;
    max-width: 60%;
    text-align: center;
}

.schedule{
    background-color: #606c38;
}

.location{
    background-color: #283618;
}

.timetable{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 20px auto;
    padding: 50px;
    list-style: none;
    border-radius: 5px;
    background-color: #a3b18a;
}

.time{
    padding: 5px;
}

.map_position{
    margin: 20px auto;
}

@media (max-width: 768px) {

    .caption {
        padding-bottom: 50px;
    }

    .caption_container {
        margin-top: 50px;
    }

    /* header mobile */
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    nav {
        flex-wrap: wrap;
    }

    header nav ul {
        width: 100%;
        margin-top: 10px;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
    }

    header nav ul li a {
        display: block;
        margin: 10px 0;
        padding-right: 10px;
    }

    /* footer mobile */
    .footer-container {
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container {
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2a2a2a;
        justify-content: center;
        align-items: center;
    }

    .footer-menus {
        width: 100%;
    }

    .footer-menus .footer-content-container:nth-of-type(1) {
        width: 45%;
    }

    .footer-menus .footer-content-container:nth-of-type(2) {
        width: 45%;
    }

    /* Sección contacto */

    .contact_form {
        width: 95%;
    }

    .form-subtitle {
        font-size: 18px;
    }

    input {
        width: 95%;
    }


    textarea {
        width: 95%;
    }


    label {
        display: block;
        float: center;
    }


    button {
        width: 95%;
    }

    .formulario__mensaje {
        line-height: 20px;
    }
}